adb_shell>=0.4.4
colorama==0.4.6
flask[async]==3.0.2
matplotlib==3.8.3
mdformat==0.7.22
mediapipe==0.10.21
numpy==1.26.4
openai==1.76.0
openai-agents==0.0.13
opencv-python==4.11.0.86
opentelemetry-instrumentation-asyncio==0.53b1
pillow==10.2.0
pure-python-adb>=0.3.0.dev0
pydantic==2.11.3
python-dotenv==1.1.0
PyYAML==6.0.2
sounddevice>=0.5.1
soundfile>=0.13.1
websockets==15.0.1
